:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .image {
    position: fixed;
    right: -42px;
    bottom: -6px;
    width: 140px;
    transform: rotate(331deg);
  }

  .button {
    margin-top: 30px;
  }

  .progress-bar {
    width: 434px;

    &-invisible {
      visibility: hidden;
    }
  }
}
