<h1>
    Construct a number from the dots to change the volume
</h1>

<app-volume></app-volume>

<img
    class="image"
    src="../assets/image.png"
    alt="rickroll"
>

<mat-progress-bar
    [class.progress-bar-invisible]="!isLoading"
    class="progress-bar"
    mode="indeterminate"
    color="accent"
></mat-progress-bar>

<button
    class="button"
    color="accent"
    mat-raised-button
    [disabled]="isLoading"
    (click)="clickHandler()"
>
    Try
</button>

<audio
    #audioPlayer
    autoplay="autoplay"
    preload="auto"
    loop="loop"
>
    <source
        src="../assets/sound.mp3"
        type="audio/mp3"
    >
</audio>
